@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
    font: 16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    padding: 50px;
    background-color: #f5f5f5;
    margin: 0;
    padding:0;
}

h2 {
    color: #494949;
    margin: 0;
    padding: 0;
}

.side-bar {
    width: 280px;
    position: fixed;
    top: 50px;
    left: 50px;

    border-right: 1px solid #ccc;

}

.side-bar h1 {
    display: inline;
    font-size: 28px;
}

.side-bar p {
    margin: 0;
    font-size: 16px;
    color: #222222;
    font-weight: 400;
}

.side-bar a {
    text-decoration: none;
}

.side-bar img {
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 2px;
    object-fit: cover;
    object-position: 80% 20%;
    margin-bottom: 10px;
}

.side-bar .social-links {
    margin-top: 20px;

}

.side-bar .social-links ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 14px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.side-bar .social-links li {
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;;
    border-radius: 4px;
}

.social-links p {
    margin: 10px 0;
}

.side-bar .social-links li:hover {
    background-color: #f5f5f5;
    border-color: #999;
}

.side-bar .social-links img {
    width: 32px;
    height: 32px;
    margin: 0;
}


/* =============================== main content area ========================= */ 

.main-content {
    margin-left: 350px;
    padding: 50px 20px;
}

.welcome{
    margin-bottom: 50px;
}
.welcome p{
    font-size: 18px;
    line-height: 1.5;
    color: #222222;
}

.hire{
    margin-bottom: 50px;
}
.hire p{
    font-size: 18px;
    line-height: 1.5;
    color: #222222;
}

@media (max-width: 768px) {
    .side-bar {
        position: relative;
        top: 10;
        left: 10;
        width: 100%;
      
        margin-bottom: 50px;
    }

    .main-content {
        margin-left: 0;
        padding: 50px;
    }

    .side-bar .social-links ul {
        justify-content: flex-start;
    }
}